[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
python-multipart = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
sqlmodel = "*"
websockets = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2-binary = "*"
sqlalchemy = "*"
bcrypt = "==4.0.1"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
